{% extends "books/base.html" %}

{% block title %}Shopping cart{% endblock %}

{% block content %}
    <div>
        <h2 class="text-secondary">Shopping Cart Details</h2>

        <div class="mt-4 row">
            <div class="col-12 col-md-8 col-lg-9">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in shopping_cart.books.all %}
                        <tr class="align-middle">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <img src="{{ book.get_cover_image_url }}"
                                     class="img-fluid"
                                     style="max-width: 100px;"
                                     alt="{{ book.title }}"/>

                                <a href="{{ book.get_absolute_url }}"
                                   class="text-decoration-none">
                                    {{ book.title }}
                                </a>
                            </td>
                            <td>{{ book.author.name }}</td>
                            <td class="fw-bold">{{ book.store_item.price }}$</td>
                            <td>
                                <a href="{% url 'store:remove' book.id %}"
                                   class="btn btn-outline-danger"
                                   onclick="return confirm('Do you want to remove this item from cart?')"
                                >
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total: {{ shopping_cart.total }}$</h5>
                        <h6 class="card-subtitle mt-2 text-muted">Sub-total: {{ shopping_cart.total }}$</h6>

                        <form class="mt-4" action="{% url 'store:purchase' shopping_cart.pk %}" method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <input type="text" name="card_number" placeholder="Card number" class="form-control"
                                       aria-label="Card number" required />
                            </div>

                            <div class="row">
                                <div class="col">
                                    <input type="text" name="card_exp" class="form-control" placeholder="Exp"
                                           aria-label=Expiration" required />
                                </div>
                                <div class="col">
                                    <input type="text" name="card_cvv" class="form-control" placeholder="CVV"
                                           aria-label="CVV" required />
                                </div>
                            </div>

                            <button type="submit" class="mt-4 btn btn-success w-100">Purchase</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
