{% load static %}
{% load store_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"/>

    <title>{% block title %}Home{% endblock %} - Bookstore</title>

    {% block extra_head %}{% endblock %}
</head>
<body class="d-flex flex-column" style="height: 100vh;">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <div class="container py-2">
            <a class="navbar-brand" href="{% url 'books:index' %}">Bookstore</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'books:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'books:list' %}">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'books:author-list' %}">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'feedback:contact-us' %}">Contact Us</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" action="{% url 'books:list' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

                {% has_open_shopping_cart as show_cart_icon %}
                {% if show_cart_icon %}
                    {% get_shopping_cart as cart %}
                    <div class="dropdown">
                        <button class="ml-4 btn btn-light dropdown-toggle" type="button" id="dropdownShoppingCart"
                                data-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-cart"></i> <span class="badge badge-success">{{ cart.items_count }}</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownShoppingCart">
                            <div class="dropdown-item-text" style="width: 450px">
                                {% render_shopping_cart_list cart %}
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center" href="{{ cart.get_absolute_url }}">Purchase</a>
                        </div>
                    </div>
                {% endif %}

                {% if user.is_authenticated %}
                    <div class="ml-4 nav-item dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="accountDropdownBtn"
                                data-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle"
                                 src="https://eu.ui-avatars.com/api/?size=64&background=0D8ABC&color=fff&name={{ user.get_full_name }}"
                                 alt="{{ user.get_full_name }}" width="28" height="28"/>
                            <span class="ps-1">Account</span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="accountDropdownBtn">
                            <li><a class="dropdown-item" href="{% url 'users:profile' %}">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:my_orders' %}">My Orders</a></li>

                            {% if user.is_staff or user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin portal</a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'account_login' %}" class="ml-2 btn btn-outline-secondary">Login</a>
                    <a href="{% url 'account_signup' %}" class="ml-2 btn btn-primary">Signup</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

{% block body %}
    <main class="flex-grow-1 container py-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags|default:'success' }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

        {% endif %}

        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block extra_body %}{% endblock %}

<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="d-flex justify-content-between">
            <p>&copy; 2021, Bookstore Inc.</p>

            <p>
                <a href="{% url 'pages:terms' %}" class="text-light">Terms & Conditions</a> |
                <a href="{% url 'pages:page' url='privacy-policy/' %}" class="text-light">Privacy Policy</a> |
                <a href="{% url 'pages:about' %}" class="text-light">About Us</a>
            </p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>
</html>
