{% extends 'books/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="py-5 px-4 border text-center text-dark bg-light rounded shadow-sm">
        <h1>Welcome to the Book Store!</h1>
    </div>

    <div class="mt-5">
        <h2 class="text-secondary">Latest additions</h2>

        <div class="mt-2 row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            {% for book in books %}
                <div class="col">
                    {% include 'books/_book.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
