{% extends 'books/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if featured_books %}
        <div id="featuredBooks" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for book in featured_books %}
                    <button type="button" data-bs-target="#featuredBooks" data-bs-slide-to="{{ forloop.counter0 }}"
                            {% if forloop.first %}class="active" aria-current="true"{% endif %}
                            aria-label="{{ book.title }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for book in featured_books %}
                    <div class="carousel-item bg-dark {% if forloop.first %} active {% endif %}">
                        <a href="{{ book.get_absolute_url }}">
                            <img src="{{ book.get_cover_image_url }}"
                                 class="d-block mx-auto"
                                 style="height: 450px;"
                                 alt="{{ book.title }}">
                        </a>
                        <div class="carousel-caption d-none d-md-block bg-dark">
                            <h5>
                                <a href="{{ book.get_absolute_url }}"
                                   class="text-decoration-none text-white">{{ book.title }}</a>
                            </h5>
                            <p>{{ book.description | truncatechars_html:60 | safe }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#featuredBooks"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#featuredBooks"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% else %}
        <div class="py-5 px-4 border text-center text-dark bg-light rounded shadow-sm">
            <h1>Welcome to the Book Store!</h1>
        </div>
    {% endif %}

    <div class="mt-5">
        <h2 class="text-secondary">Latest additions</h2>

        <div class="mt-2 row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            {% for book in books %}
                <div class="col">
                    {% include 'books/_book.html' %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-md-7 col-lg-8 pe-4">
            <h2 class="text-secondary">Latest reviews</h2>

            {% for review in latest_reviews %}
                <div class="d-flex mb-3">
                    <div class="flex-shrink-0">
                        <div class="fs-2 fw-bolder">{{ forloop.counter }}.</div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5>
                            <a href="{{ review.get_absolute_url }}" class="text-dark">
                                {{ review.book_title }}
                            </a>
                        </h5>
                        <p class="mb-0">
                            <a href="{{ review.get_user_public_profile_url }}">
                            <strong>{{ review.user.get_full_name | default:review.user.username }}</strong></a>
                            on
                            {{ review.created_at|date:"D d M Y" }} {{ review.created_at|time:"H:i" }}
                        </p>

                        <div>
                            {{ review.content | truncatewords_html:25 }}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="col-12 col-md-5 col-lg-4">
            <h2 class="text-secondary">Most popular</h2>

            {% for book in most_popular_books %}
                <div class="d-flex mb-3">
                    <div class="flex-shrink-0">
                        <div class="fs-3 fw-bolder">{{ forloop.counter }}.</div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5>
                            <a href="{{ book.get_absolute_url }}" class="text-dark">
                                {{ book.title }}
                            </a>
                        </h5>
                        <p class="mb-0">
                            <strong>{{ book.author.name }}</strong>, {{ book.year }}
                        </p>
                    </div>

                    <div class="ms-3 text-nowrap fs-4 fw-bold text-info">
                        {{ book.rating|default_if_none:1 }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
